# For uvicorn ppplication server configurations
UVICORN_APP=main:app
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_LOG_CONFIG='/path/to/logConfig.yaml'

## For developments
UVICORN_RELOAD=true

# MONGODB configurations
MONGODB_HOST=mongo
MONGODB_PORT=27017
MONGODB_USERNAME=<your-mongodb-username>
MONGODB_PASSWORD=<your-mongodb-password>

## authSource can changed
# MONGODB_AUTH_SOURCE=admin

# For system configurations
SYSTEM_TOKEN_SECRET=<your-api-token-secret>
SYSTEM_SESSION_SECRET=<your-session-secret>

# For default admin configurations
## Use `:` to seperate user campus id
APP_TITLE=<your-app-title>
APP_USERDB=<your-userdb-name>
APP_MALLDB=<your-malldb-name>
APP_RECORDDB=<your-recorddb-name>
APP_MISSION=<your-missiondb-name> # 需要升級
APP_SYSTEM_ADMIN='admin1:admin2:admin3'
